@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Alata', sans-serif;

  
}

.header {
  background: url('./images/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 75px;
}

.banner {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 150px;
}


.banner-content {
  border: 2px solid #fff;
  width: 100%;
  max-width: 420px;
  
}


.banner-content h1 {
  font-size: 42px;
  padding-left: 20px;
}

.menu {
  
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.menu a:hover {
  color: #000;
  transform: scale(0.98);
}
  

/* HERO SECTION */

.hero-section {
  padding-top: 150px;
}

.hero-desc {
  width: 100%;
  max-width: 1000px;
  /* border: thin solid red; */
  background-color: #fff;
  margin-left: -150px;
  padding-left: 75px;
}

.hero-desc h1 {
  font-size: 42px;
  font-weight:100;
  
}

.creations-head {
  padding-top: 150px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.creations-head h1 {
  font-weight: 100;
  letter-spacing: 1.2;
  font-size: 45px;
}

button {
  width: 150px;
  height: 45px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #000;
  transform: scale(0.98);
  cursor: pointer;
}

.hero-content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: flex-end;
}

.hero-desc h1 {
  font-weight: 100;
}

.hero-desc p {
  font-size: 15px;
  color: hsl(0, 0%, 41%);
}


.data-cards {
  padding-bottom: 150px;
}
.creations-cards {
  position: relative;
  color: #fff;
  
}

.card-text {
  position: absolute;
  bottom: 8px;
  left: 50px;
  width: 100%;
  max-width: 140px;
}
  
  
  

.card-text h3 {
  font-weight: 100;
  font-size:28px;
  color: hsl(0, 0%, 100%);
}

.data-cards {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25.33px;
}
  
 


.card-image {
  filter: brightness(50%);
}




/* FOOTER SECTION */

.footer {
  background-color: #000;
}

.footer-content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-social,
.footer-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.footer-menu a:hover {
  color: hsl(0, 0%, 41%);
  transform: scale(0.98);
  
}

.footer-top,
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: hsl(0, 0%, 41%);
}
  

